.headerWrapper {
  width: 100vw;
  transition: 0.2s;
  position: absolute;
  z-index: 10;
}

.headerWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to bottom, #2c2b3c, transparent);
  opacity: 0.6;
  transition: opacity 0.2s;
  z-index: -1;
}

.headerWrapper:hover::before {
  opacity: 1;
}

.headerRoot {
  width: 70%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.headerTitleWrapper {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.headerTitleWrapper:hover {
  cursor: pointer;
}

.headerLogo {
  width: 50px;
}

.headerTitle {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.headerLinkWrapper {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerLink {
  text-decoration: none;
  color: #f4f3ee;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
}

.headerLink:hover {
  /* text-decoration: 2px solid underline; */
  text-underline-offset: 6px;
  opacity: 1;
  border-bottom: 2px solid;
}

.headerProfileIcon {
  width: 18px;
}

.headerProfileText {
  margin: 0;
}

.headerSearchWrapper {
  width: 20%;
  height: 30px;
  position: relative;
}

.headerSearchBar {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f3ee;
  border: none;
  color: black;
  padding-left: 16px;
  border-radius: 16px;
  opacity: 0.8;
  transition: 0.2s;
}

.headerSearchBar::placeholder {
  color: black;
  opacity: 0.6;
  font-weight: 500;
}

.headerSearchBar:hover {
  opacity: 1;
}

.headerSearchBar:focus {
  opacity: 1;
  border: none;
  outline: none;
}

.headerSearchIcon {
  position: absolute;
  width: 18px;
  right: 0px;
  top: 6px;
  opacity: 0.6;
}
